<div class="sidebar">
  <div class="sidebar-section">
  <h3>Me</h3>
  </div>
  <div class="sidebar-section">
    <h3>Upcoming Trip</h3>
  </div>

  <div class="sidebar-section">
    <h3>Latest Gear Reviews</h3>
  </div>

  <div class="sidebar-section">
    <h3>New Pictures</h3>
  </div>

  <div class="sidebar-section">
    <h3>Latest Comments</h3>
  </div>
</div>
