<% provide(:title, "Photography") %>
<% provide(:desc, 'All about the photographs on this site, and the equipment used') %>

<div class="row">
  <div class="span9">

    <h1>Photography</h1>

    <div class="content-section">
      <p class="static-p">I love to take photographs while out camping, hiking and backpacking. I find that it's a fantastic way to document my trips and help me remember where I've been. Below, I've included some information on the equipment that I use.</p>

      <h3>Camera</h3>

      <h3>Lenses</h3>

      <h3>Tripods, Monopods</h3>

      <h3>Carrying</h3>

      <h3>Dirt, Dust and Water</h3>
    </div>

  </div>
  <div class="span3">
    <%= render 'shared/sidebar' %>
  </div>
</div>
