<div class="field-block">
  <%= f.text_field :flickr_url, class: "float-left clear-left" %>
  <%= f.hidden_field :_destroy %>
  <p class="remove-pic"><%= link_to_remove_fields "remove", f %></p>
</div>
