          ///////////////////////////////////////////////////////////
          //                                                       //
          //                VARIABLES / MIXIN CLASSES              //
          //                                                       //
          ///////////////////////////////////////////////////////////

$gg: #00b945;
$oo: #FF8500;
$pp: #D9005B;

.fonted {
  font-family: 'Josefin Slab', serif;
  font-weight: 700;
}

.float-right {
  float: right;
}

.clear-right {
  clear: right;
}

.float-left {
  float: left;
}

.clear-left {
  clear: left;
}

.pink-me {
  color: $pp;
}

.opacity-me {
  opacity: .3;
}

.purp-me {
  color: $pp;
}

.orange-me {
  color: $oo;
}

.bolded {
  font-weight: bold;
}

.bump {
  width: 100%;
  clear: both;
}

label {
  font-weight: bold;
}

[class^="icon-"], [class*=" icon-"] {
  vertical-align: baseline;
}

.outer-img {
  padding: 5px;
  border: 1px solid #ccc;
  @include border-radius(4px);
  -webkit-box-shadow: 0px 1px 5px #ccc;
  -moz-box-shadow: 0px 1px 5px #ccc;
  box-shadow: 0px 1px 5px #ccc;
  &:hover {
    border: 1px solid #ddd;
  }
  .inner-img, img {
    @include border-radius(4px);
  }
}

.show-outer-img {
  @extend .outer-img;
  .show-inner-img {
    @extend .inner-img;
    max-width: 100%;
  }
}

.select-outer-img {
  @extend .outer-img;
  display: inline-block;
  margin: 0 5px 10px 15px;
  label {
    margin-bottom: 0;
  }
  .select-inner-img {
    @extend .inner-img;
  }
}

.img-show-outer {
  @extend .outer-img;
  img {
    @extend .inner-img;
    max-height: 800px;

  }
}

.well {
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ccc;
  background-color: #eee;
  li {
    line-height: 24px;
  }
}

.beside-label {
  line-height: 30px;
  padding-left: 5px;
  margin-bottom: 10px;
}

.thumbnail-table {
  width: 100%;
  td {
    padding: 19px 19px 0 0;
    width: 87px;
  }
  td:last-child {
    padding-right: 0;
  }
}

.inline-block {
  display: inline-block;
}

.margin-top-me {
  margin-top: 10px;
}

.border-img-h {
  -moz-border-image:url("stripe-h.png") 0 0 8 0 repeat; /* Old firefox */
  -webkit-border-image:url("stripe-h.png") 0 0 8 0 repeat; /* Safari */
  -o-border-image:url("stripe-h.png") 0 0 8 0 repeat; /* Opera */
  border-image:url("stripe-h.png") 0 0 8 0 repeat;
}

.center-me {
  margin-right: auto;
  margin-left: auto;
}

.border-div {
  height: 8px;
  background-image: url('stripe-h.png');
  background-repeat: repeat-x;
  -webkit-box-shadow: 0px 1px 10px #ccc;
  -moz-box-shadow: 0px 1px 10px #ccc;
  box-shadow: 0px 1px 10px #ccc;
}

.static-p {
  font-size: 16px;
  line-height: 24px;
}

.pagination {
  text-align: center;
  margin-bottom: 20px;
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                    APPLICATION WIDE                   //
          //                                                       //
          ///////////////////////////////////////////////////////////

/* Wrapper for page content to push down footer */
#wrap {
  /* Negative indent footer by it's height */
  min-height: 100%;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('wood_bg.jpg');
  background-attachment: fixed;
  #main-container {
    background: transparent url('transparent_bg.png');
    padding: 0 25px 25px;
    height: 100%;
    width: 970px;
    #inner-container {
      background-color: white;
      padding: 15px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend .fonted;
}

h1 {
  font-size: 30px;
  color: #FF8500;
  background-color: white;
  @include border-radius(5px);
  margin-top: 0;
}

input[type="submit"] {
  @extend .btn;
}

.btn {
  @extend .btn-success, .fonted;
  font-size: 16px;
}

#error_explanation {
  h2 {
    font-size: 22px;
  }
  ul li {
    color: red;
  }
}

button a {
  color: white;
  &:hover {
    color: white;
  }
}

.field_with_errors {
  display: inline-block;
  label {
    color: red;
  }
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: rgba($gg, 0.8);
  @include box-shadow(#{0 0 8px rgba($gg, 0.6), 0 0 0 rgba($gg, 0.6) inset});
}

#trip_name, #trip_intro, #gear_item_name, #gear_item_intro, #gear_list_name, #gear_list_intro, #picture_flickr_url, #picture_description, #picture_print_url, #post_title, #post_content {
  width: 600px;
}

#post_content {
  height: 800px;
}

.field label {
  display: inline-block;
}

.field input[type="checkbox"] {
  margin-top: 0;
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          HEADER                       //
          //                                                       //
          ///////////////////////////////////////////////////////////

.navbar-static-top {
  @extend .fonted;
  .brand {
    font-size: 30px;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    margin: 5px 10px 0 0;
    &:hover {
      border: 1px solid #333;
    }
  }
  ul {
    font-size: 20px;
  }
  .nav > li > a {
    padding: 15px 15px 14px;
  }
  .navbar-search {
    margin-top: 10px;
  }
  .container {
    width: 970px;
  }
}

.navbar-inverse .navbar-inner {
  border: #111;
}

.dropdown-menu > li > a {
  font-size: 14px;
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          SIDEBAR                      //
          //                                                       //
          ///////////////////////////////////////////////////////////

.sidebar {
  .sidebar-section {
    font-size: 15px;
    line-height: 19px;
    padding-bottom: 10px;
    h3 {
      line-height: 24.5px;
      font-size: 22px;
    }
    li {
      line-height: 20px;
    }
  }
  .next-trip-a {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
  .sidebar-dates {
    font-size: 12px;
    line-height: 14px;
    i {
      vertical-align: text-bottom;
    }
  }
  .sidebar-pic-table {
    margin: auto;
    td {
      padding: 0 22px 22px 0;
    }
    td:last-child {
      padding-right: 0;
    }
    tr:last-child td {
      padding-bottom: 5px;
    }
  }
  .social table {
    width: 100%;
  }
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          HOME                         //
          //                                                       //
          ///////////////////////////////////////////////////////////

.homepage-well {
  @extend .well;
  margin-top: 0;
  h3 a:hover {
    text-decoration: none;
  }
  .homepage-last-trip {
    margin-top: 0;
    line-height: 25px;
    &:before {
      content: 'latest trip :: ';
      color: $pp;
    }
  }
  .home-last-trip-img {
    @extend .outer-img;
    float: right;
    margin-left: 20px;
    img {
      @extend .inner-img;
      height: 100px;
    }
  }
}

.home-single-post {
  margin-bottom: 50px;
  h3 {
    line-height: 25px;
    a:hover {
      text-decoration: none;
    }
  }
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          TRIP                         //
          //                                                       //
          ///////////////////////////////////////////////////////////

.trip-show-h1 {
  display: inline-block;
}

.trip-show-h1:before {
  content: 'trip :: ';
  color: $pp;
}

.trip-related-posts {
  li {
    font-size: 18px;
    line-height: 23px;
    a:hover {
      text-decoration: none;
    }
  }
}

.trip-dates {
  text-align: center;
  img {
    padding: 0 10px;
    vertical-align: text-top;
  }
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          GEAR                         //
          //                                                       //
          ///////////////////////////////////////////////////////////

.gear-item-show-h1 {
  display: inline-block;
}

.gear-item-show-h1:before {
  content: 'gear :: ';
  color: $pp;
}

.styled-ul {
  list-style: none;
  margin-left: 0;
  font-weight: bold;
  li {
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 7px;
    a {
      display: block;
      padding: 8px;
      &:hover {
        background-color: #ddd;
        @include border-radius(5px);
        text-decoration: none;
      }
    }
  }
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                        GEARLIST                       //
          //                                                       //
          ///////////////////////////////////////////////////////////

.gear-list-table {
  font-size: 17px;
  line-height: 25px;
  width: 100%;
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    td {
      padding: 5px 0;
    }
    td:last-child {
      text-align: right;
    }
  }
  tr:last-child {
    border-bottom: 0;
  }
}

.group-type-select, .gear-item-select {
  width: 150px;
}

.quantity-input {
  width: 30px;
}

.remove-gear-item {
  line-height: 30px;
  margin-top: 10px;
  a {
    color: white;
    @extend .btn, .btn-mini;
    margin-left: 5px;
  }
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          POST                         //
          //                                                       //
          ///////////////////////////////////////////////////////////

.field-block {
  @extend .field;
  .remove-pic {
    line-height: 30px;
    a {
      color: white;
      @extend .btn, .btn-mini;
      margin-left: 5px;
    }
  }
}

.post-meta {
  padding-top: 8px;
  .meta-date {
    color: #888;
  }
  i {
    vertical-align: text-top;
  }
}

.post-content {
  font-size: 16px;
  line-height: 24px;
  padding: 5px 20px;
  img {

  }
}

.post-h1 {
  margin-bottom: 5px;
  &:before {
    content: 'post :: ';
    color: $pp;
  }
}

.post-img {
  @extend .outer-img;
  margin: 10px;
  img {
    @extend .inner-img;
  }
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          PICTURE                      //
          //                                                       //
          ///////////////////////////////////////////////////////////

.picture-h1:before {
  content: 'picture :: ';
  color: $pp;
}

.pic-chevron {
  display: inline-block;
  vertical-align: middle;
}

.img-show-table {
  margin: auto;
  td:last-child {
    padding-left: 10px;
  }
  td:first-child {
    padding-right: 10px;
  }
  td:last-child:hover, td:first-child:hover {
    opacity: .8;
  }
  .pic-show-desc {
    margin: 5px 0 0;
    font-size: 12px;
    color: #666;
  }
}

.pic-show-well {
  @extend .well;
  margin: 10px 0 0;
  h4 {
    margin-top: 0;
  }
  ul {
    margin-bottom: 0;
  }
}

.pic-result {
  display: inline-block;
  margin: 0 7px 10px 0;
  img {
    height: 120px;
  }
}

#filter-pictures {
  display: inline-block;
}

.pic-h-select {
  @extend .center-me;
  td {
    padding: 0 5px;
  }
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          RESULTS                      //
          //                                                       //
          ///////////////////////////////////////////////////////////

.results-h1:before {
  content: 'search results :: ';
  color: $pp;
}

.result-post-h3:before {
  content: 'post :: ';
  color: $pp;
}

.result-gearlist-h3:before {
  content: 'gear list :: ';
  color: $pp;
}

.result-gearitem-h3:before {
  content: 'gear :: ';
  color: $pp;
}

.result-trip-h3:before {
  content: 'trip :: ';
  color: $pp;
}

          ///////////////////////////////////////////////////////////
          //                                                       //
          //                          TAGS                         //
          //                                                       //
          ///////////////////////////////////////////////////////////

.tag-h1:before {
  content: 'tag :: ';
  color: $pp;
}
